.layout {
    display: flex;
    min-height: 100vh;
    background: #f7f7f7;
}

.content {
    flex: 1;
}

.feed-container {
    width: 70%;
    margin: auto;
    padding: 30px;
}

.feed-header h1 {
    font-size: 50px;
    font-weight: bold;
}

.feed-header p {
    color: gray;
    margin-bottom: 30px;
}