
<div class="create-post-card">

    <div class="post-top">

        <img
            src="../assets/images/avatar.jpg"
            alt="Avatar"
            class="avatar"
        >

        <textarea

            [(ngModel)]="text"

            [maxLength]="limit"

            placeholder="O que estás a pensar?"

            rows="2"

        ></textarea>

    </div>

    <div class="post-bottom">

        <!-- ICONES -->

        <div class="actions">

            <button>
                <i class="bi bi-image"></i>
            </button>

            <button>
                <i class="bi bi-camera-video"></i>
            </button>

            <button>
                <i class="bi bi-emoji-smile"></i>
            </button>

            <button>
                <i class="bi bi-geo-alt"></i>
            </button>

        </div>

        <!-- CONTADOR -->

        <div class="post-info">

            <span
                class="counter"

                [class.danger]="text.length > limit - 20"
            >

                {{ text.length }}/{{ limit }}

            </span>

            <button

                class="publish-btn"

                [disabled]="!text.trim()"

            >

                Bazar agora

            </button>

        </div>

    </div>

</div>

<!-- TABS -->

<div class="feed-tabs">

    <button class="active">
        Para ti
    </button>

    <button>
        A seguir
    </button>

    <button>
        Em alta
    </button>

</div>

