<div class="sidebar">

    <div class="logo-container">

    <img 
        src="../../../assets/logo/" 
        alt="NzolaNet Logo"
    >

</div>

    <ul>

        <li class="active">
            <i class="bi bi-house"></i>
            Feed
        </li>

        <li>
            <i class="bi bi-compass"></i>
            Explorar</li>

        <li>
            <i class="bi bi-bell"></i>
            Notificações</li>

        <li>
            <i class="bi bi-bookmark"></i>
            Guardados</li>

        <li>
            <i class="bi bi-person"></i>
            Perfil</li>

        <li>
            <i class="bi bi-gear"></i>
            Definições</li>

    </ul>

    <button class="publish-btn">
         <i class="bi bi-pencil-square"></i>
        PUBLICAR
    </button>

</div>