<div class="sidebar">
    <ul>

        <a
        routerLink="/feed"
        routerLinkActive="active"
    >
        <i class="bi bi-house"></i>
        <span>Feed</span>
         </a>

        <a routerLink="/explorar" routerLinkActive="active">
            <i class="bi bi-compass"></i>
             <span>Explorar</span>
        </a>

        <a routerLink="/notifications" routerLinkActive="active">
            <i class="bi bi-bell"></i>
            <span>Notificações</span>
        </a >

        <a routerLink="/guardados" routerLinkActive="active">
            <i class="bi bi-bookmark"></i>
            <span>Guardados</span>
        </a>

        <a routerLink="/profile" routerLinkActive="active">
            <i class="bi bi-person"></i>
            <span>Perfil</span>
        </a>

        <a routerLink="/settings" routerLinkActive="active">
            <i class="bi bi-gear"></i>
            <span>Definições</span>
        </a>

    </ul>

    <button class="publish-btn">
         <i class="bi bi-pencil-square"></i>
        PUBLICAR
    </button>

    <button class="logout-btn" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i>
            <span>Terminar Sessão</span>
            
        </button>


</div>