.topbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: oklch(98.5% .003 285);
    padding: 10px 40px;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 20px;
   
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: #c92df1;
    margin-bottom: 5px;
    margin-right: 0;
   
}

.topbar input {
    width: 400px;
    border: none;
    background: #f3f3f3;
    padding: 15px;
    border-radius: 30px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;

}

.profile button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #f5d8ff;
    color: #c92df1;
    font-size: 22px;
}

.profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.search-box {
    width: 400px;
    display: flex;
    align-items: center;
    background: #f3f3f3;
    padding: 0 18px;
    border-radius: 999px;
    margin-left: 0;
    
}

.search-box i {
    color: gray;
    font-size: 18px;
}

.search-box input {
    width: 100%;
    border: none;
    background: transparent;
}